<div class="app-converter">
  <header id="header">
    <div class="container">
      <div class="first_header_line">
        <div class="logo_wrap">
          <img src="../assets/images/logo.png" alt="image" />
        </div>
        <div class="exh_rate_wrap">
          <div class="currency_title">
            <h3>Курс відносно гривні</h3>
          </div>
          <div class="values_wrap">
            <div class="eur">
              <div class="currency">EUR</div>
              <div>{{ this.euro }}</div>
            </div>
            <div class="usd">
              <div class="currency">USD</div>
              <div>{{ this.dollar }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second_header_line">
      <div class="container">
        <div class="main_title">
          <div class="first_word">CONVERT</div>
          <div class="second_word">IT</div>
        </div>
      </div>
    </div>
  </header>

  <app-converter></app-converter>
</div>
